APP_BASE_URL=http://localhost:3000
NEXT_PUBLIC_APP_BASE_URL=http://localhost:3000

# Auth
AUTH_SECRET=
AUTH_POSTMARK_KEY=
AUTH_FROM_EMAIL=

# Upstash
UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=
UPSTASH_VECTOR_REST_URL=
UPSTASH_VECTOR_REST_TOKEN=

# AI Cloud
OPENROUTER_API_KEY=
FIRECRAWL_API_KEY=

# Stripe
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
STRIPE_WORKFLOW_RUN_PRICE_ID=
STRIPE_COUPON_ID=

# DB
DATABASE_URL=""
